.texto {
  font-family: 'Play', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Unna', serif;
}

ion-menu::part(backdrop) {
  background-color: rgba(63, 203, 210, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 0 0;

  box-shadow: 4px 0px 16px rgba(32, 7, 123, 0.18);
}

.boton{
  color: rgb(39, 144, 18);
  padding-left: 40%; 
  padding-right: 40%; 
  border-radius: 25px;
}
.caja{
  padding-top: 40%;
  padding-bottom: 25%;
}

img {
  max-height: 400px;
}

@media screen and (max-height : 775px) {
  img {
    width: 100%;
    
  }
}