ion-slide{
    display: block;
}
h2 {
    color: darkslategrey;
    font-family: 'Play', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Unna', serif;
    margin-bottom: 50px;
}

ion-card-title {
    font-family: 'Play', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Unna', serif;
}

ion-slides {
   --bullet-background: rgb(39, 114, 87);
   --bullet-background-active: rgb(42, 69, 69);
}

img {
    max-height: 400px;
  }
  
  @media screen and (max-height : 775px) {
    img {
      width: 100%;
      
    }
  }